{% extends "network/layout.html" %}

{% block title %}
    {{user}}
{% endblock %}

{% block body %}
    {% for post in posts %}
        <div class="card text-center border-dark mx-auto m-5" style="width: 60rem;">
            <div class="card-body">
            <a href="{% url 'profile-page' post.creator.id %}"><h3 class="card-title">{{post.creator}}</h3></a>
            <h6 class="card-subtitle">{{post.created}}</h6>
            <p class="card-text">{{post.content}}</p>
            <div>
                <span><a class="btn btn-dark" href="#">Like!</a></span>
                <span class="btn">{{post.likes}}</span>
            </div>
            <div class="card-footer m-3"><button class="btn btn-danger" style="width: 25rem" id="check">Hide This Post :(</button><div>
            </div>
        </div>
    {% empty %}
        <h2 class="m-5" style="color:red">THERE ARE NO POSTS RN</h2>
    {% endfor %}
{% endblock %}